.heading {
	margin: 0;
	font-family: 'Teko', sans-serif;
}

.heading::before,
.heading::after {
	content: '';
	display: block;
	height: 0;
}

.level2 {
	font-size: 25.5591px;
	line-height: 24px;
	padding: 0.05px 0;
}

.level2::before {
	margin-top: -0.087em;
}

.level2::after {
	margin-bottom: -0.23em;
}

.level3 {
	font-size: 19.1693px;
	line-height: 12px;
	padding: 0.05px 0;
}

.level3::before {
	margin-top: 0.0689em;
}

.level3::after {
	margin-bottom: -0.0741em;
}
