@value themeBackground3 from '../theme.module.css';

.pull {
	font-family: sans-serif;
	z-index: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 1rem;
	width: 5rem;
	min-height: 5rem;
	background: themeBackground3;
}

.pull.shroud::before,
.pull.shroud::after {
	content: '';
	position: absolute;
	z-index: -1;
	background: themeBackground3;
	pointer-events: none;
}

.pull.shroud::before {
	top: -1rem;
	right: 0;
	height: calc(100% + 2rem);
	width: 100vw;
	border-bottom-right-radius: 2rem;
}

.pull.shroud::after {
	bottom: calc(100% + 1rem);
	width: 200vw;
	height: 100vh;
}

/* This is semi copied from header. TODO: Consolidate typography. */
.pullText {
	text-transform: uppercase;

	font-family: 'Teko', sans-serif;
	font-size: 19.1693px;
	line-height: 20px;
	padding: 0.05px 0;
}

.pullText::before {
	content: '';
	margin-top: -0.1398em;
	display: block;
	height: 0;
}

.pullText::after {
	content: '';
	margin-bottom: -0.2828em;
	display: block;
	height: 0;
}
