@value itemWidth: 5rem;

.rotation {
	display: grid;
	grid-template-columns: repeat(auto-fill, itemWidth);
	row-gap: 2rem;

	/* should probably replace this with a placeholder "drop stuff here" */
	min-height: 32px;
}
