@value themeBackdrop from './theme.module.css';

@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

:root {
	/* Base grid (use rem multipliers) */
	font-size: 8px;
}

body {
	margin: 0;
	padding: 5rem;

	/* Actual text size */
	font-size: 2rem;

	background: themeBackdrop;
}
