@value themeBackground1 from './theme.module.css';
@value themeText from './theme.module.css';

@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

:root {
	/* Base grid (use rem multipliers) */
	font-size: 8px;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 5rem;

	color: themeText;
	font-family: 'Open Sans', sans-serif;
	font-size: 2rem;
	background: themeBackground1;
}
