.modeButton {
	border: none;
	background: none;
	cursor: pointer;
	opacity: 0.6;
	transition: opacity 0.2s ease-in-out;
}

.modeButton:hover {
	opacity: 1;
}

.icon {
	margin-right: 0.5rem;
	height: 0.75em;
	vertical-align: -0.1em;
}

.rotation {
	/* should probably replace this with a placeholder "drop stuff here" */
	min-height: 32px;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, 5rem);
	row-gap: 2rem;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: -2rem;
}

.flex .item {
	padding-bottom: 2rem;
}
